INOE_API_BASE_URL=http://192.168.130.51:30080
INOE_API_TOKEN=your_jwt_token_here
INSPECTION_METRIC_TIMEOUT_SECONDS=120
INSPECTION_METRIC_PAGE_SIZE=100
INSPECTION_NOTIFY_WEBHOOK_URL=
INSPECTION_NOTIFY_DINGTALK_WEBHOOK_URL=
INSPECTION_NOTIFY_DINGTALK_SECRET=
INSPECTION_NOTIFY_DINGTALK_KEYWORD=
INSPECTION_NOTIFY_FEISHU_WEBHOOK_URL=
INSPECTION_NOTIFY_FEISHU_SECRET=
INSPECTION_NOTIFY_TIMEOUT_SECONDS=8
INSPECTION_NOTIFY_MENTION_ALL=true
