# 实时告警技能配置文件

# API 基础地址
#INOE_API_BASE_URL=http://192.168.130.211:30080
INOE_API_BASE_URL=http://172.28.75.4:30080

# API Token（JWT）
#INOE_API_TOKEN=eyJhbGciOiJIUzUxMiJ9.eyJ1c2VyX2lkIjoxLCJ1c2VyX2tleSI6IjY5ZmRiZTJiLTUxN2MtNGI4MS1hODhjLWVmNjc5YjBjMWFiMCIsInVzZXJuYW1lIjoieGlhb2sifQ.YXYAdH-uy2v0oMLzVQKIvdxCyC0AIsJ832xzx9zv4gutUq8BcFjhUpAbuh7YhAn6pdp513QO_mvbWPKc4iMoAA
INOE_API_TOKEN=eyJhbGciOiJIUzUxMiJ9.eyJ1c2VyX2lkIjoxLCJ1c2VyX2tleSI6ImU5ZGIyMTljLTRiNmUtNGJkNS1hYmViLWExOWEyOTQ2YzQzYSIsInVzZXJuYW1lIjoieGlhb2sifQ.EpCFu6WKBPmirfqZHkBR-qPy72p9rZ8WgIPXFuDAJzg4KhH8ou88G7NvbfjwF9BN-hnRdCeh9mKJfbeuCVMetA

# 是否使用 Mock 数据（true/false）
USE_MOCK_DATA=false