ORDER_API_BASE_URL=http://192.168.130.51:30081
ORDER_AUTHORIZATION=
ORDER_COOKIE=
ORDER_SERIAL_NO=
ORDER_TIMEOUT_SECONDS=20
ORDER_VERIFY_SSL=true
ORDER_ENABLE_CURL_FALLBACK=false
ORDER_EXTRA_HEADERS={}
