# 指标 API 基础地址
# INOE_API_BASE_URL=http://192.168.130.211:30080
INOE_API_BASE_URL=http://172.28.75.4:30080

# 指标 API Token（JWT）
# INOE_API_TOKEN=your_metric_api_token_here
INOE_API_TOKEN=your_metric_api_token_here

ALARM_ANALYST_METRIC_TIMEOUT_SECONDS=120
ALARM_ANALYST_METRIC_PAGE_SIZE=20
